*{
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus,:active{outline: none;}
  a:focus,a:active{outline: none;}
  nav,footer,header,aside{display: block;}
  html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Livvic', sans-serif;
  }
  input,button,textarea{font-family:inherit;}
  input::-ms-clear{display: none;}
  button{cursor: pointer;}
  button::-moz-focus-inner {padding:0;border:0;}
  a, a:visited{text-decoration: none;}
  a:hover{text-decoration: none;}
  ul li{list-style: none;}
  img{vertical-align: top;}
  h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


.container {
    max-width: 1110px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
}

.background {
    background-color: #014E56;
    height: 700px;
    position: relative;
}

.background__left-image {
    position: absolute;
    top: 300px;
}

.background__bottom-image {
    position: absolute;
    bottom: 0px;
    right: 350px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 73px 20px;
}

header a {
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.header__nav {
    width: 100%;
}

.header__burger {
    display: none;
}

.header__menu {
    display: flex;
    padding: 0 0 0 80px;
    flex: 1;
    gap: 25px;
    align-items: center;
}

.header__link:hover {
    color: #F67E7E;
    transition-duration: 0.4s;
}

.header__link--right {
    margin-left: auto;
}

.header__link--contact {
    display: block;
    border: 2px solid #FFFFFF;
    width: 153px;
    height: 48px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__link--contact:hover {
    background-color: white;
    color: black;
}

.talent{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.talent__title{
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: white;
}

.talent__title span {
    color: #F67E7E;
}

.talent__line-subtitle{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.talent__subtitle{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: white;
}

@media (max-width: 1024px) {
    .container {
        text-align: center;
    }
    .talent {
        flex-direction: column;
        gap: 50px;
    }
    .talent__icon-line {
        display: none;
    }
    .talent__title {
        font-size: 64px;
        line-height: 56px;
    }
    .talent__subtitle {
        font-size: 15px;
    }
    .background__left-image {
        display: none;
    }
    .background__bottom-image {
        left: 30%;
    }
    .header__menu {
        padding: 0 0 0 50px;
    }
}

@media (max-width: 768px) {
    .header__menu {
        display: none;
    }
    .header__burger {
        display: block;
        margin-left: auto;
    } 
    .background__bottom-image {
        left: 50%;
        transform: translateX(-50%);
    }
    .header__title {
        font-size: 40px;
        line-height: 40px;
    }
    .background {
        height: 100vh;
    }
}

.background-approach {
    background-color: #012F34;
    height: 700px;
    position: relative;
}

.background-approach__image {
    position: absolute;
    right: 0;
    bottom: 0;
}

.approach {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    padding: 20px;
}

.approach__icon img {
    margin-top: -10px;
}

.approach__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
}

.approach__columns {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.approach__column {
    display: flex;
    gap: 20px;
}

.approach__column-icon {
    margin-bottom: 20px;
}

.approach__text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.approach__column-title {
    color: #F67E7E;
    font-weight: 700;
    font-size: 18px;
}

.approach__column-subtitle {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

@media (max-width: 1024px) {
    .approach {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .approach__title {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 50px;
        
    }

    .background-approach__image {
        top: 0;
    }
}

@media (max-width: 768px) {
    .approach__column {
        display: flex;
        flex-direction: column;
        text-align: center;
    }


    .background-approach {
        max-width:100%;
        height:auto;
        }
    }

.background-results {
    background-color: #004047;
    height: 745px;
    position: relative;
}

.background-results__bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

.results {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
}


.results__title {
    font-weight: 700;
    font-size: 48px;
    color: white;
}

.results__icon {
    margin-bottom: -15px;
}

.results__columns {
    display: flex;
    margin-top: 100px;
    gap: 20px;
}

.results__story {
    font-weight: 600;
    font-size: 15px;
    color: white;
    line-height: 25px;
}

.results__title span {
    color: #79C8C7;
}

.results__name {
    margin-top: 50px;
    color: #79C8C7;
    font-weight: 700;
    font-size: 18px;
}

.results__work-position {
    color: white;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    font-style: italic;
    margin-top: 10px;
}

/* ! Broken Icon */
.results__people--meas {
    width: 62px;
    height: 62px;
}

.results__people {
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .results__columns {
        display: flex;
        flex-direction: column;
    }

    .background-results {
        height: auto;
    }
    
    .results__title {
        font-size: 32px;
        line-height: 32px;
    }
}

@media (max-width: 768px) {
    .results__title {
        margin-top: 50px;
    }

    .background-results__bottom {
        display: none;
    }
}

.get-started {
    background-color: #F67E7E;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-started__image {
    position: absolute;
    bottom: 0;
    left: 0;
}

.get-started__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 917px;
    width: 100%;
}

.get-started__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #012F34;
}

.get-started__button a {
    color: #012F34;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.get-started__button:hover {
    background-color: #012F34;
    transition-duration: 0.4s;
}

.get-started__button a:hover {
    color: white;
    transition-duration: 0.4s;
}

.get-started__button {
    border: 2px solid #012F34;
    border-radius: 24px;
    width: 153px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .get-started__image {
        display: none;
    }

    .container {
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    .get-started__container {
        flex-direction: column;
        text-align: center;
    }

    .get-started__title {
        margin-top: 100px;
    }

    .get-started__button {
        margin-top: 50px;
    }
}

.footer {
    background-color: #002529;
    height: 256px;
}

.footer__content {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    padding: 20px;
}

.footer__menu {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.footer__menu a {
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.footer__menu a:hover {
    color: #F67E7E;
    transition-duration: 0.4s;
}

.footer__info p{
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #9b9b9b;
}

.footer__icons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.footer__icons img:hover {
    background-color:#F67E7E;
    transition-duration: 0.4s;
}

.footer__icons-copy {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer__copyright p{
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #9b9b9b;
}

@media (max-width: 768px) {
    .footer__content {
        flex-direction: column;
    }

    .footer {
        height: 100%;
    }

    .footer__title-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
    }
    
    .footer__menu {
        align-items: center;
        gap: 10px;
    }
    
    .footer__icons {
        justify-content: center;
        margin-top: 75px;
    }
    
}